<SearchInput @value={{title}} @onChange={{action (mut title)}} />

<div class="list-group">
  {{#each model as |book|}}
    <LinkTo @route="books.book" @model={{book}} class="list-group-item">{{book.title}}</LinkTo>
  {{else}}
    <div class="list-group-item text-muted"><i>No books found</i></div>
  {{/each}}
</div>