<div class="card-body">
  Links to several useful ember resources.
</div>

<div class="card-body pb-0">
  <h5>Documentation</h5>
</div>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Official Ember website</td>
        <td>{{linkify "https://emberjs.com" target="_blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Official Ember Guides</td>
        <td>{{linkify "https://guides.emberjs.com/release/" target="_blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Ember-CLI documentation</td>
        <td>{{linkify "https://ember-cli.com" target="_blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Ember Octane Cheat Sheet</td>
        <td>{{linkify "https://ember-learn.github.io/ember-octane-vs-classic-cheat-sheet/" target="_blank" rel="nofollow noopener"}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card-body pb-0">
  <h5>Useful tools</h5>
</div>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ember Inspector<small class="d-block">Developer tools</small></td>
        <td>
          {{linkify
            "https://guides.emberjs.com/release/ember-inspector/"
            "blank"
            rel="nofollow noopener"
          }}
        </td>
      </tr>
      <tr>
        <td>Ember Observer<small class="d-block">Curated search machine for Ember Addons</small></td>
        <td>{{linkify "https://emberobserver.com" "blank" rel="nofollow noopener"}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card-body pb-0">
  <h5>Support</h5>
</div>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ember Discuss<small class="d-block">Forum</small></td>
        <td>{{linkify "https://discuss.emberjs.com" "blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Discord<small class="d-block">Chat &amp; Support</small></td>
        <td>
          {{linkify
            "https://discordapp.com/invite/zT3asNS"
            "blank"
            rel="nofollow noopener"
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
