<div class="card-body">
  Links to several useful ember resources.
</div>

<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Official Ember Guides & API documentation</td>
        <td>{{linkify "https://emberjs.com" "blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Ember-CLI documentation</td>
        <td>{{linkify "https://ember-cli.com" "blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Ember Inspector<small class="d-block">Developer tools</small></td>
        <td>{{linkify "https://guides.emberjs.com/release/ember-inspector/" "blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Ember Observer<small class="d-block">Curated search machine for Ember Addons</small></td>
        <td>{{linkify "https://emberobserver.com" "blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Ember Discuss<small class="d-block">Forum</small></td>
        <td>{{linkify "https://discuss.emberjs.com" "blank" rel="nofollow noopener"}}</td>
      </tr>
      <tr>
        <td>Discord<small class="d-block">Chat &amp; Support</small></td>
        <td>{{linkify "https://discordapp.com/invite/zT3asNS" "blank" rel="nofollow noopener"}}</td>
      </tr>
    </tbody>
  </table>
</div>